{% extends "base.html" %}
{% block title %}Новая публикация{% endblock %}
{% block content %}
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">                   
              </div>
              <div class="card-body">        
                <form method="post"
                  {% if action_url %}
                   action="{% url action_url %}"
                  {% endif %}
                  {% if is_edit %}
                  {{form.as_p}}
                  {% else %}
                  {{ form.as_p }}
                  {% endif %}
                  {% csrf_token %}
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if is_edit %}
                        Сохранить
                      {% else %}
                        Добавить
                      {% endif %}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}