{% extends 'base.html' %}
{% block title %}
{% if is_edit %}
Редактировать запись
{% else %}
Добавить запись
{% endif %}
{% endblock %}
{% load user_filters %}
{% block content %}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 p-5">
        <div class="card">
          <div class="card-header">
            {% if is_edit %}
            Редактировать запись
            {% else %}
            Добавить запись
            {% endif %}
          </div>
          <div class="card-body">
            {% include 'includes/form_errors.py' %}
            <form method="post""{% if user.username == post.author %}"action="{% url 'posts:post_edit' %}""{% else %}"action="{% url 'posts:post_create' %}""{% endif %}">
              {% csrf_token %}
              {% include 'includes/form.py' %}
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">
                  {% if is_edit %}
                  Сохранить
                  {% else %}
                  Добавить
                  {% endif %}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
