{% extends "base.html" %}
{% block title %}Восстановление пароля{% endblock %}
{% block content %}
{% load user_filters %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-sm-10 p-5">
      <div class="card">
        <div class="card-header">
          Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {% comment %} {% for field in form %}
              <div class="form-group row">
                <label for="{{ field.id_for_label }}"
                       class="col-sm-6 col-form-label text-sm-right">
{{ field.label }}
                  {% if field.field.required %}<span class="required text-danger">*</span>{% endif %}
                </label>
                <div class="col-sm-6">
{{ field|addclass:"form-control" }}
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                  {% endif %}
                </div>
              </div>
            {% endfor %} {% endcomment %}
           
                  <div class="form-group row my-3 p-3">
                    <label for="id_email">
                      Адрес электронной почты
                      <span class="required text-danger">*</span>
                    </label>
                    <input type="email" name="email" maxlength="254" class="form-control" required id="id_email">
                  </div>
            <div class="col-sm-10 sm-left">
              <button type="submit" class="btn btn-primary">Сбросить пароль</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}